<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">${env:LOGFILEPATH}</Property>
        <Property name="logLevel">${env:LOGLEVEL}</Property>
    </Properties>
 
    <Appenders>
      	
        <RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
               <SizeBasedTriggeringPolicy size="5 GB" />
            </Policies>
        </RollingFile>
 		
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]${basePath} %c{1} - %msg%n" />
        </Console>
      	<!-- <SystemdJournal name="journal" logStacktrace="true" logSource="false" /> -->
    </Appenders>
    <Loggers>
    	<!--
        <Logger name="com.howtodoinjava" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        -->
        <!-- <Root level="debug" additivity="false"> -->
        <Root level="${logLevel}">
            <appender-ref ref="console" />
            <appender-ref ref="fileLogger" />
            <!-- <AppenderRef ref="journal" /> --> 
        </Root>
    </Loggers>
</Configuration>
